.system-moment {
  display: flex;
  background: system-color(gray, 100);
  margin: system-spacing() 0;
  padding: system-spacing();
  border-radius: system-border(radius);
  &__title {
    font-family: 'STIX Two Text', serif;
    font-size: system-font-size(2xl);
    flex: 1;
  }
  &__date {
    background: system-color(gray, 900);
    min-width: 70px;
    text-align: center;
    color: #fff;
    font-size: system-font-size(3xl);
    line-height: 1;
    padding: system-spacing(sm);
    border-radius: system-border(radius);
  }
}